@{
    ViewBag.Title = "About F1 Cars";
}

<div class="row">
    <h2>About the cars</h2>
    <div class="col-md-4">
        <img src="~/Content/Images/racing-car.jpg" width="350" height="300" />
    </div>
    <div class="col-md-8">
        <h4>
            Formula 1 cars are highly engineered for one thing. SPEED. 
            To the left you can see a Mclaren MCL35 zooming around the track.
        </h4>
    </div>
</div>

<div class="row">
    <h3>Front Wing</h3>
    <div class="col-md-4">
        <img src="~/Content/Images/front-wing.jpg" width="350" height="300" />
    </div>
    <div class="col-md-8">
        <h4>
            The front wings on formula one cars are designed to maximize down force for the front end of the car 
            while cutting a clean path through the air.
        </h4>
    </div>
</div>

<div class="row">
    <h3>Halo</h3>
    <div class="col-md-4">
        <img src="~/Content/Images/halo-red.jpg" width="350" height="300" />
    </div>
    <div class="col-md-8">
        <h4>
            The Halo is a protective barrier that helps to prevent large objects and debris from entering the cockpit
            of a single-seat racing car. The Halo was introduced to F1 in 2018, 
            when it also became compulsory in other FIA-sanctioned open-cockpit classes, such as Formula E, F2, F3 and F4.
        </h4>
    </div>
</div>

<div class="row">
    <h3>Power Units</h3>
    <div class="col-md-4">
        <img src="~/Content/Images/power-unit.jpg" width="350" height="300" />
    </div>
    <div class="col-md-8">
        <h4>
            The Power Unit is made up of six different elements - the Internal Combustion Engine (ICE), 
            Turbo, MGU-K, MGU-H, Control Electronics and Energy Store. 
            Power Unit modes are a combination of settings that adjust the performance of the ICE as well as the flow of electrical energy.
        </h4>
    </div>
</div>

<div class="row">
    <h3>Rear Wing</h3>
    <div class="col-md-4">
        <img src="~/Content/Images/rear-wing-drs.jpg" width="350" height="300" />
    </div>
    <div class="col-md-8">
        <h4>
            The rear wings of a Formula One car are situated high on the rear of the car. 
            They serve a far more important function which is to keep the car stable and balanced while providing downforce at the rear of the car. 
            In addition to providing downforce they also include DRS or Drag Reduction System. At specific locations around the track, DRS zones,
            while within one second of the car ahead, the rear wing can open up allowing a moderate boost to straight line speeds. DRS is 
            crucial for overtaking.
        </h4>
    </div>
</div>